ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.button {
  background-color: #141414ff;
  border: 1px thin #ffffff;
  color: #faa549ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: list-item;
  font-size: 20px;
  width: 200px;
}

.button:hover {
  background: rgb(68, 36, 1);
}

.button:active, .button:focus {
  background:rgb(37, 19, 0);
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #141414ff;
  border: 2px solid #999999;
  color: rgb(236, 141, 39);
  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  height: 90px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 90px;
}

.square:hover {
  background: rgb(68, 36, 1);
}

.square:focus, .square:active {
  background:rgb(37, 19, 0);
}

.game-container {
  display: flex;
}

.game {
  display: flex;
  flex-direction: row;
  padding-left: 30px;
  padding-top: 55px;

}

.game-info {
  margin-left: 70px;
  margin-top: -10px;
  color: #faa549ff;
  font-size: 19px;
}